/* 
    Document   : styles
    Created on : Jun 13, 2016, 9:07:33 AM
    Author     : manodom
    Description:
        Purpose of the stylesheet follows.
*/

*{
    margin: 0;
    padding: 0;
    background-color: blue;

root { 
    display: block;
}

.content_row{
    background-color: red;
}
.test1{
    background-color: red;
}

